* {
    margin: 0;
    padding: 0;
    border: 0;  
}

html {
    font-size: 62.5%;
}

footer a {
    text-decoration: none;
    color: #B07C2D;
}

footer a:hover {
    color: #e6e6fa;
}

.footer-container {
    display: flex;
    background-color: #4D0000;
    justify-content: space-around;
    font-size: 1.5rem;
    color: #B07C2D;
    align-items: baseline;
}

.f-logo {
    padding: 2rem;
}

footer h3 {
    display: flex;
    align-items: center;
}

.social-media {
    justify-content: space-around;   
}

.contact li {
    display: block;
}

footer li {
    list-style: none;
    display: inline-block;
    margin: 0 auto;
    padding: 0;
}

footer img {
    margin-right: 2rem;
    width: 2rem;
    height: 2rem;
}

#logo {
    padding-left: 2rem; 
}

.copyright {
    text-align: center;
    background-color: #4D0000;
    color: #B07C2D;
    padding-bottom: 1rem;
}